/* // seção 1 - criando paletas */
body{
background-color: rgb(197, 193, 193);
line-height: 0%;
background-image: url('5330749.jpg');
}
.color {
    position: relative;
    left: 855px;
    top: 100px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2px;
}

#black {
}

#title {
    text-align: center;
}


/* // seção 2 - criando botão */

#button-random-color {
    position: relative;
    left: 1060px;
    top: 55px;
    padding: 5px;
    font-size: 20px;
    width: 250px;
    background-color: rgb(150, 145, 145)
}

/* seção 3 - quadro */
#pixel-board{

}

.pixel{
   position: relative;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
    left: 840px;
    top: 150px;
}


/* seçao 4 - botao reset */
#clear-board{
position: relative;
left: 905px;
top: 130px;
width: 90px;
font-size: 15px;
}